

@font-face {
    font-family: Andralis;
    font-weight: regular;
    src: url("../assest/Tipografías/Andralis_ND/Andralis_ND_OsF_Regular.otf") format("opentype");
}


@font-face {
    font-family: HKGrotesk;
    font-weight: regular;
    src: url("../assest/Tipografías/Hk_Grotesk/HKGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: Nagoda;
    font-weight: regular;
    src: url("../assest/Tipografías/Nagoda/Nagoda.otf") format("opentype");
}

$tipografia-titulos: Nagoda;
$tipografia-parrafos:Andralis;
$tipografia-navegador: HKGrotesk;

$colorFondo: blue;